<!--<div class="w-80vw h-screen max-auto flex justify-center items-center">-->
<!--  <div class="bg-gray-100 p-4 rounded-md border border-amber-300">-->
<!--    <div class="flex justify-end items-start italic font-serif text-sm">-->
<!--      {{message?.timestamp | date:'medium'}}-->
<!--    </div>-->

<!--    <div class="bg-green-50 p-4 rounded-md mt-4">-->
<!--      <p class="text-xl font-serif text-gray-600">{{message?.content}}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<router-outlet />
